

<div class="loja">
    {{#each jogos}}
    
    <a href="/app/{{id_jogos}}/{{{normalizarHandlebars nome}}}">
        <div>
            <img src="{{../imgs_local}}{{cover_img}}" alt="">
            <p class="nome">{{nome}}</p>
            {{{doPrice preco_jogos desconto}}}
    
            <p class="avaliacao"><span>{{{starRating avaliacao}}}</span></p>
        </div>
    </a>
    
    {{/each}}
</div>
